NEXT_PUBLIC_SUPABASE_URL=https://uxtkieoopckjqvgoiboa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4dGtpZW9vcGNranF2Z29pYm9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzMjYwMjIsImV4cCI6MjEwNDkwMjAyMn0.FJGK30R1muC2PomyZUdXfDWszVXYUsABHcLg7U-iSjA
NEXT_PUBLIC_ADMIN_EMAIL=admin@swimzy.com